@import "./variables";

button {
  background: $accent;
  color: white;
  letter-spacing: 0.04rem;
  font-weight: 500;
  font-size: 0.8rem;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}

button.gradientButton {
  background: linear-gradient(82deg, $accent 19%, #fa2803);
}
