.product-card {
  color: $primary;
  width: 100%;
  font-weight: 700;
  box-shadow: 0px 2px 20px 1px rgba($primary, 0.15);
  padding: 2.5%;
  background-color: white;
  border-radius: 5px;
  margin: 1rem 0;
  border-left: 6px solid $accent;
}

.search-card {
  color: $primary;
  width: 100%;
  font-weight: 700;
  padding: 2.5%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 0.675rem;
  border-left: 6px solid $accent;
}
