@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

h4 {
  color: $alternate;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  color: $secondary;
  font-size: 1rem;
}

small {
  color: $secondary;
  font-size: 0.775rem;
}

a {
  color: $alternate;
  font-weight: 600;
  font-size: 0.775rem;
}
