@import "./variables";

input {
  border: 1px solid rgba($secondary, 0.4);
  width: 100%;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding-left: 0.875rem;
  border-radius: 5px;
  background: white;
  height: 40px;
  color: rgba($primary, 0.65);
  &:focus {
    outline: 2px solid $accent;
  }
  &::placeholder {
    color: rgba($secondary, 0.95);
  }
}

@media screen and (max-width: 540px) {
  input {
    font-size: 0.775rem;
  }
}
