@import "./variables";

body {
  font-family: "Inter";
}

// Header and footer
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item-cart {
    display: block;
    position: absolute;
    background: $accent;
    width: 0.675rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.475rem;
    font-weight: 600;
    top: -0.575rem;
    right: -0.225rem;
    color: white;
    border-radius: 100px;
  }
}

header svg {
  width: 1rem;
  fill: $primary;
  cursor: pointer;
}

// Divs and sections variables

div {
  position: relative;
}

section {
  padding: 5%;
  min-height: 100vh;
  background: $soft;
}

section.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $soft;
}

// Images
.logo {
  width: 9rem;
}

.logoSmall {
  width: 4.5rem;
}

.imageUploader {
  overflow: hidden;
  z-index: 10;
  border-radius: 5px;
  display: block;
  img {
    width: 6rem;
    height: 6rem;
  }
}

.camera {
  width: 1.25rem;
  fill: white;
  right: 0.25rem;
  top: 0.25rem;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  background-color: $accent;
  padding: 0.225rem;
}
